LOG = True

BEEQUIPS_RAW_PATH = "../data/raw/BSS Hidden Beequip Statistics Breakdown.xlsx"
BEEQUIPS_DATA_PATH = "../data/beequips.json"

COSMETICS_DATA_PATH = "../data/cosmetics.json"
EGGS_DATA_PATH = "../data/eggs.json"
NPCS_DATA_PATH = "../data/npcs.json"
WAXES_DATA_PATH = "../data/waxes.json"
