.box {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.heading {
  color: white;
  text-shadow: 1px 1px 2px black;
}

.custom-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}
